@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}


::-webkit-scrollbar {
    display: none;
}

.shadowclass {
    box-shadow: 2px 0 8px -7px #888;
}

.b0,
.b1,
.b2,
.b3,
.b4,
.b5,
.b6,
.b7,
.b8 {
    border-bottom: blue;
}

.profilebg {
    background: rgb(209, 251, 255);
    background: linear-gradient(90deg, rgba(209, 251, 255, 1) 2%, rgba(227, 241, 249, 1) 50%, rgba(230, 209, 242, 1) 100%);
}